node_modules
build
dist
.git
.gitignore
Dockerfile
dockerfile
Dockerfile.*
.dockerignore
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
coverage
.cache
.eslintcache
*.map
.env
.env.*
**/.DS_Store
**/Thumbs.db


