# Configuration de l'API Backend
# URL de base de l'API backend Spring Boot
REACT_APP_API_URL=http://13.60.231.157:8080/api
REACT_APP_GATEWAY_URL=http://13.60.231.157:8080

# Alternative si vous utilisez un autre port
# REACT_APP_API_URL=http://localhost:9089/api
